<header class="bg-black text-white pt-4 md:py-4">
  <div class="container mx-auto flex justify-between items-center px-6"> 
    <!-- text logo -->
    <h1 [routerLink]="['/movies']" class="text-3xl cursor-pointer md:text-4xl font-extrabold text-red-600 drop-shadow-lg">
      FletNix
    </h1>
    <!-- Logout button -->
    <div class="md:hidden flex items-center space-x-4"> 
      <button (click)="logout()" class="text-red-500 flex justify-center items-center gap-2 focus:outline-none">
          Logout
      </button> 
    </div> 
    <!-- web Navigation -->
    <div class="hidden md:flex items-center space-x-4">
      <!-- Search Bar -->
      <div class="flex items-center space-x-2 text-white bg-gray-900 rounded-full px-4 py-2 shadow-lg">
        <select [(ngModel)]="selectedType" (change)="searchMovies()" >
          <option selected value="" class=" text-gray-300">Types 🔻</option>
          <option value="Movie" class=" text-black">Movies 🔻</option>
          <option value="TV Show" class=" text-black">TV Shows 🔻</option>
        </select> 
        <p class="border-l-2  border-white text-gray-900 ">.</p>
        <input 
          type="text" 
          [(ngModel)]="searchQuery"
          (keyup.enter)="searchMovies()"
          placeholder="Search by title or cast..." 
          class="bg-transparent border-white border-r-2 text-white placeholder-gray-400 focus:outline-none px-2 w-40 sm:w-60"
        /> 
        <button (click)="searchMovies()" class="text-red-500 flex items-center justify-center cursor-pointer hover:text-white">
          <i class="fa-solid fa-magnifying-glass text-2xl"></i> 
        </button>
      </div>
    </div>

    <!-- Desktop Logout Button -->
    <button 
      (click)="logout()" 
      class="hidden md:block bg-red-600 text-white font-semibold px-5 py-2 rounded-full border-2 border-red-600 transition-all duration-300 
            hover:bg-black hover:border-white hover:text-white">
      <i class="fa-solid fa-right-from-bracket text-xl align-middle"></i> Logout
    </button>
  </div>

  <!-- Mobile Search Bar (Hidden Initially) -->
  <div class="md:hidden bg-gray-900 text-white p-4 mt-2">
    <div class="flex items-center space-x-2 bg-gray-800 rounded-full px-4 py-2">
      <input 
        type="text" 
        [(ngModel)]="searchQuery"
        (keyup.enter)="searchMovies()"
        placeholder="Search by title or cast..." 
        class="bg-transparent text-white  placeholder-gray-400 focus:outline-none px-2 w-full"
      />
      <button (click)="searchMovies()" class="text-red-500 cursor-pointer hover:text-white">
        <i class="fa-solid fa-magnifying-glass text-2xl"></i>  
      </button>
    </div>
  </div> 
</header>
